<h1>Crear nuevo departamento</h1>

<form method="post">

    <label>Id Departamento</label>
    <input type="text" name="idDepartamento" class="form-control" required/>

    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" required/>

    <label>Localidad</label>
    <input type="text" name="localidad" class="form-control" required/>

    <button type="submit" class="btn btn-success">Crear departamento</button>
</form>

<br /><br />
<a asp-controller="Departamentos" asp-action="Index" class="btn btn-danger">Come back</a>