@model Departamento

<h1>Actualizar departamento</h1>


<form method="post">
    <input type="hidden" name="idDepartamento" class="form-control" value="@Model.IdDepartamento" required/>

    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" value="@Model.Nombre" required />

    <label>Localidad</label>
    <input type="text" name="localidad" class="form-control" value="@Model.Localidad" required />

    <button type="submit" class="btn btn-success">Actualizar departamento</button>
</form>

<br /><br />
<a asp-controller="Departamentos" asp-action="Index" class="btn btn-danger">Come back</a>